<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ClienteMapper">
    <select parameterType="map" id="consultarClientes" resultMap="ClienteResult">
        select
        c.nombre as ClienteName,
        c.documento as ClienteDoc,
        c.telefono as ClientePhone,
        c.direccion as ClienteDir,
        c.email as ClienteEmail,
        c.vetado as ClienteVetado

        FROM VI_CLIENTES as c;
    </select>
    <select parameterType="map" id="consultarCliente" resultMap="ClienteResult">
        select
        c.nombre as ClienteName,
        c.documento as ClienteDoc,
        c.telefono as ClientePhone,
        c.direccion as ClienteDir,
        c.email as ClienteEmail,
        c.vetado as ClienteVetado

        FROM VI_CLIENTES as c

        WHERE #{idcli} =  c.documento;
    </select>
    <resultMap type='Cliente' id='ClienteResult'>
        <id property='documento' column='ClienteDoc'/>
        <result property='nombre' column='ClienteName'/>
        <result property='telefono' column='ClientePhone'/>
        <result property='direccion' column='ClienteDir'/>
        <result property='email' column='ClienteEmail'/>
        <result property='vetado' column='ClienteVetado'/>
    </resultMap>
</mapper>

