<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper">
    <select parameterType="map" id="consultarItemsRentados" resultMap="ItemRentadoResult">

    </select>
    <resultMap type='ItemRentado' id='ItemRentadoResult'>
        <id property='id' column='ItemRentadoId'/>
        <result property='fechainiciorenta' column='ItemRentadoStartDate'/>
        <result property='fechafClienteinrenta' column='ItemRentadoEndDate'/>
        <association property="item" javaType="Item" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult" columnPrefix="item_"></association>
    </resultMap>
</mapper>