<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>-->
    

        
                        
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://desarrollo.is.escuelaing.edu.co:3306/bdprueba" />
                <property name="username" value="bdprueba" />
                <property name="password" value="bdprueba" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/ClienteMapper.xml"></mapper>
        <mapper resource="mappers/ItemMapper.xml"></mapper>        
        <mapper resource="mappers/TipoItemMapper.xml"></mapper>        
    </mappers> 
        
        
</configuration>